.about {
	background: $newsprint;

	h3 {
		position: relative;
		&:after {
			position: absolute;
			content: '';
			border-bottom: 7px solid $silver-blue;
			top:0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 36%;
		}
	}

	p {
		font-size: 1.5rem;
	}
}

.about .wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.bio-copy {
	color: white;
	position: relative;
	top: 5%;
	right: 5%;

	.socmed .fa {
		font-size: 3rem;
		color: $silver-blue;
		padding-right: 2%;
		transition: color 0.3s linear; 
		&:hover,
		&:focus {
			color: $mauve;
		}
	}
}

.bio-image {
	position: relative;
	bottom: 5%;
	width: 40%;
}	

// .big-a p {
// 	position: fixed;
// 	top:0;
// 	right: 0;
// 	left: 0;

// 	font-size: 35rem;
// 	font-weight: bold;
// 	color: rgba(197,179,193,0.5);
// }