.about {
	background: $newsprint;

	h3 {
		display: inline-block;
		position: relative;
		border-bottom: 7px solid $silver-blue;
	}

	p {
		font-size: 1.5rem;
	}
}

.about .container {
	position: relative;
}

.about .wrapper {
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	// position: relative;
}

.big-a {
	p {
		z-index: 0;
		font-family: 'Lato', sans-serif;
		font-weight: bolder;
		font-size: 50rem;
		color: rgba(197,179,193,0.5);
		position: absolute;
		left: -10%;
		top: -680px;
	}
}

.bio-copy {
	color: white;
	position: relative;
	top: 5%;
	right: 5%;

	.socmed .fa {
		font-size: 4rem;
		color: $silver-blue;
		padding-right: 3%;
		transition: color 0.3s linear; 
		&:hover,
		&:focus {
			color: $mauve;
		}
	}
}

.bio-image {
	position: relative;
	bottom: 5%;
	width: 40%;
}	
