.contact {
	background: $mauve;

	h3 {
		margin: 0;
		padding: 0;
		text-align: center;
		border: none;
		font-size: 9rem;
		color: $dark-accent;
	}

	p {
		padding-right: 5%;
		margin-right: 15%;
		color: $newsprint;
	}
}

.contact .wrapper{
	margin-top: 4%;
	display: flex;
	align-items: flex-start;
	justify-content: center;

	form {
		display: flex;
		justify-content: flex-end;
		
		p {
			padding: 0;
			margin-top: 0;
			color: $newsprint;
		}

		input[type="text"],
		input[type="email"],
		textarea {
			width: 400px;
			background: none;
			border: none;
			border-bottom: 3px solid $silver-blue;
		}

		input[type="submit"] {
			border-radius: 5px;
			border: none;
			background: $silver-blue;
			color: white;
			padding: 2% 10%;
			transition: all 0.3s linear;
			&:hover,
			&:focus {
				background: #fff;
				color: $silver-blue;
			}
		}
	}
}

textarea {
	height: 150px;
}

.contact-blurb {
	display: flex;
	flex-direction: column;

	h5 {
		color: $silver-blue;
	}

	.socmed .fa,
	.devicons {
		font-size: 4rem;
		color: $silver-blue;
		padding-right: 3%;
		transition: color 0.3s linear; 
		&:hover,
		&:focus {
			color: $newsprint;
		}
	}
}

