header {
	background: $mauve;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		a {
			color: navy;
			transition: color 0.3s linear;
			&:hover {
				color: teal;
			}
		}
	}
}


nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero {
	width: 100%;
	margin: auto;
	height: 100vh;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



