
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.flexParent {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
	}

	nav ul {
		visibility: hidden;
		opacity: 0;
	}
	
	ul.menu {
		left: -17%;
	}

	.hero-text {
	}

	.bio-image {
		margin-top: 2%;
	}

	// portfolio images
	figure {
		width: 50%;
	}

	.project-copy {
		margin-left: 5%;
	}

	.pieces:nth-child(even) {
		.project-copy {
			margin-right: 5%;
		}
	}

	// project titles
	h4 {
		font-size: 2.75rem;
		border-bottom: 5px solid $dark-accent;
	}

	p {
		font-size: 1.5rem;
	}

	// skills section

	.skills-icons,
	.tools-icons {
		display: flex;
		flex-wrap: wrap;
	}

	.skills-icons figure,
	.tools-icons figure {
		width: 33.33%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2%;
	}
	
	.skills-icons .devicons,
	.tools-icons .devicons,
	.tools-icons .devicon-photoshop-plain,
	.tools-icons .devicon-illustrator-plain {
		font-size: 6rem;
	}

	//Contact Section + footer
	.contact .wrapper {
		flex-direction: column;
		width: 100%;
		width: 93%;

		h5 {
			margin-top: -2%;
		}

		.contact-blurb {
			text-align: center;
			margin-right: 0;
		}

		form {
			margin: 100px auto;
			margin-bottom: 0;
		}
	}
}

.contact p {
	font-size: 1.75rem;
	margin-right: 0;
}

// Additional Breakpoint 
@media (max-width: 817px) {
	h1 {
		font-size: 11rem;
	}

	h2 {
		font-size: 4rem;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	header {
		background-size: contain;
	}

	h1 {
		font-size: 10rem;
	}

	// Hamburger Menu
	ul.menu {
		flex-direction: column;
		position: fixed;
		top: 0;
		left:0;
		right: 0;
		height: 100%;
		width: 100%;
		background: rgba(255,255,255,0.8);	
		text-align: center;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s linear;
		transform: scale(1.5);
		z-index: 10000;
	}

	ul.menu.show {
		flex-direction: column;
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	ul.menu li {
		display: block;
		padding: 25px 0;
		font-size: 1rem;

		a {
			font-size: 4rem;
		}
	}

	ul.menu a {
		color: dimGray;
		transition: all 0.3s linear;
		&:hover {
			border: none;
			border-bottom: 3px solid $dark-accent;
			border-radius: 0;
			color: $dark-accent;
		}
	}

	.fa-bars {
		position: fixed;
		top: 6%;
		right: 5%;
		display: inline-block;
		z-index: 10000000000;
		color: lightGray;
	}

	#home .fa {
		visibility: visible;
		opacity: 1;
		top: 3%;
		right: 6%;
		font-size: 3rem;
	}
	
	//About Section

	.about .wrapper {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		margin: auto;
	}

	.big-a {
		display: none;
	}

	.bio-copy p {
	}

	.bio-image {
		width: 75%;
		margin-bottom: 5%;
	}

	// Portfolio Section
	.pieces,
	.pieces:nth-child(even) {
		flex-direction: column;
		.project-copy {
			margin-right: 0;
		}
	}
	
	.pieces figure {
		width: 100%;
		margin: 0;
	}

	.project-copy {
		margin-top: 3%;
		width: 97%;
		margin-left: 0;
	}

	//Skills & Tools section

	.skills-icons figure,
	.tools-icons figure {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2%;
	}

	.big-s,
	.big-t {
		display: none;
	}
}
 
@media (max-width: 687px) {
	// header text
	.hero-text {
		text-align: center;
	}

	h1 {
		font-size: 9rem;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	header {
		background-repeat: repeat;
	}
	
	.wrapper {
		width: 90%;
	}

	section {
		padding: 50px 20px;
	}

	h2 {
		font-size: 3.75rem;
	}

	h3 {
		font-size: 5rem;
	}

	h4 {
		margin-top: 3%;
		font-size: 2rem;
	}

	.project-copy {
		margin-bottom: 25%;
	}
}


@media (max-width: 450px) {
	// Portfolio section
	.project-copy h4 {
		font-size: 2.5rem;
	}

	// Contact Section
	.contact h3 {
		font-size: 7rem;
	}

	h5 {
		font-size: 3.5rem;
	}

	// Contact Form
	.contact .wrapper form input[type="text"],
	.contact .wrapper form input[type="email"],
	.contact .wrapper form textarea {
		width: 300px;
	}
}
