ul.menu {
	display: flex;
	flex-direction: row-reverse;
	z-index: 100;
	position: fixed;
	margin: 0;
	padding: 0;
	transform: rotate(270deg);
	top: 50%;
	left: -130px;
	li {
		display: inline;
		margin-right: 10px;
		a {
			font-size: 1.25rem;
			padding: 5px;
			font-weight: bolder;
			text-transform: uppercase;
			color: $dark-accent;
			transition: color 0.2s linear;
			&:hover,
			&:focus {
				border-bottom: 2px solid $dark-accent;
			}
		}
	}
}

.fa {
	display: none;
	cursor: pointer;
}

.fa-bars {
	position: relative;
	z-index: 10;
}

#home .fa {
	visibility: hidden;
	opacity: 0;
	top: 12%;
	font-size: 3rem;
}