.skillset {
	background: $newsprint;
	position: relative;
	h3 {
	display: inline-block;
	padding-bottom: 2%;
	border-bottom: 7px solid $silver-blue;
	}

	.big-s {
		p {
			font-family: 'Lato', sans-serif;
			font-weight: bolder;
			font-size: 40rem;
			color: rgba(115,131,158,0.2);
			position: absolute;
			left: -5%;
			top: -67%;
		}
	}

	.big-t {
		p {
			font-family: 'Lato', sans-serif;
			font-weight: bolder;
			font-size: 40rem;
			color: rgba(197,179,193,0.3);
			position: absolute;
			right: -3%;
			top: -30%;
	}
}
}

.icons {
	display: flex;
	flex-direction: column;
	align-items: space-around;	
	justify-content: center;
}


	
.skills-icons,
.tools-icons {
	display: flex;
	padding-left: 0;
	margin: auto;
}

figure {
	.devicons:first-of-type {
		padding-left: 0;
	}

	.devicons,
	.devicon-photoshop-plain,
	.devicon-illustrator-plain {
		color: $mauve;
		margin: 0 15px;
		font-size: 8rem;
		line-height: 1.5;
	}

	figcaption {
		font-size: 1.2rem;
		text-align: center;
	}
}


//**** Tools section styles **** //

.tools {
	margin: 10% 0 4% 0;

}

.tools-icons {
	.devicons,
	.devicon-photoshop-plain,
	.devicon-illustrator-plain {
		color: $silver-blue;
	}
}