header {
	// background: #fff;
	// padding: 10px;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		a {
			color: navy;
			transition: color 0.3s linear;
			&:hover {
				color: teal;
			}
		}
	}
}

.hero {
	// background-image: url('https://unsplash.it/1200/800?image=848');
	// background-attachment:fixed;
	// background-size: cover;
	// background: rgba(0,0,128,0.3);
	margin: auto;
	height: 100vh;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.hero-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 13%;

	h2 {
		text-align: right;
		position: relative;
		line-height: 0;
		margin: 0;
		padding: 0;
		padding-bottom: 12%;
		&:after {
			content: '';
			position: absolute;
			border-bottom: 10px solid black;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}

}

h1 a,
h2 {
	color: #000;
}




