header {
	position: relative;
	background: $mauve;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		a {
			color: navy;
			transition: color 0.3s linear;
			&:hover {
				color: teal;
			}
		}
	}
}


nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.hero {
	// background-image: url('https://unsplash.it/1200/800?image=848');
	// background-attachment:fixed;
	// background-size: cover;
	// background: rgba(0,0,128,0.3);
	// background: #d9c2ca;
	width: 100%;
	margin: auto;
	height: 100vh;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.hero-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



