.portfolio {
	// background: #F5F5F5;
	background: $silver-blue;

	.wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.project-one,
.project-two,
.project-three,
.project-four {
	width: 50%;
	height: 400px;
	padding: 5%;
	// display: flex;
	// flex-direction: column;
}

.project-one {
	
}

.project-two {
	
}

.project-three {
	
}

.project-four {
	
}

.project-pic {
	
}