.portfolio {
	// background: #F5F5F5;
	background: $silver-blue;

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		.pieces {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
	}
}

// .project-copy {
// 	display: flex;
// 	flex-direction: column;
// }

// .project-img figure {
// 	width: 50%;
// }