.skillset .wrapper {
	display: flex;
	align-items: center;	
	justify-content: space-between;
}

.skills-copy {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	height: 60vh;
	padding-right: 5%;
	&:after {
		content: '';
		position: absolute;
		border-right: 10px solid black;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
	
	h4 {
		margin: 0;
		padding: 0;
	}
}

.icons {
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	h5 {
		margin-bottom: 5px;
	}

	h5:first-child {
		margin-top: 0;
	}
}

.skills-icons,
.tools-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

figure {
	.devicons,
	.devicon-photoshop-plain,
	.devicon-illustrator-plain {
		color: #79A5D0;
		font-size: 7rem;
		padding: 15px;
		line-height: 1.5;
	}

	figcaption {
		font-size: 1.2rem;
		text-align: center;
		// padding-top: 5%;
	}
}

